/*
.case--selected-piece {
    background: lightgreen;
}

.case--possible-target {
    cursor: pointer;
}

.case--possible-target::before {
    content: "";
    width: 90%;
    height: 90%;
    border: solid 2px orange;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.helper {
    
} */

.grid {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    width: 60px;
    height: 60px;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box--black {
    background: black;
    color: white;
}

.box--white {
    background: white;
}